*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/data/schemas/com.example.data.storage.AppDatabase/1.json
/app/src/androidTest/java/com/example/testing/ExampleInstrumentedTest.kt
/data/src/androidTest/java/com/example/data/ExampleInstrumentedTest.kt
/app/src/test/java/com/example/testing/ExampleUnitTest.kt
/data/src/test/java/com/example/data/ExampleUnitTest.kt
/domain/src/test/java/com/example/domain/ExampleUnitTest.kt
